## **Obtendo dados financeiros de empresas varejistas brasileiras**

---

### Baixar informações do balanço patrimonial e as demonstrações de resultado das empresas Magazine Luiza, Arezzo, Alpagartas, Grupo De Moda Soma, Lojas Renner e Guararapes Confeccoes S.A.

## Baixando informações do BP

In [ ]:
#Importo as bibliotecas que utilizarei

import pandas as pd
import yfinance as yf

In [ ]:
#Crio uma função que baixa os dados do Balanço Patrimonial das empresas

def BP():
    # Lista de tickers das empresas
    tickers = ['MGLU3.SA','SOMA3.SA', 'LREN3.SA', 'ARZZ3', 'GUAR3.SA', 'ALPA4.SA']

    #    Crio uma lista vazia que vou utilizar logo mais
    balance_sheets = []

    # Loop para baixar os balanços patrimoniais de cada empresa
    for ticker in tickers:
        try:
            ativo = yf.Ticker(ticker)
            balanco = ativo.get_balance_sheet(freq='yearly')  ##Baixa os dados do balanço patrimonial dos últimos anos
            balanco['Company'] = ticker.split('.')[0]
            balance_sheets.append(balanco)
        except Exception as e:
            print(f"Erro ao baixar dados para o ativo {ticker}: {e}")

    # Concatenar os balanços patrimoniais em um único dataframe
    balancos = pd.concat(balance_sheets, axis=1)
    balancos.reset_index(inplace=True)

    # Visualizar os primeiros registros do dataframe
    print(balancos.head())

In [ ]:
BP()

                  index 2023-12-31 00:00:00 2022-12-31 00:00:00  \
0  TreasurySharesNumber          60958207.0          76662663.0
1  OrdinarySharesNumber        7154650098.0        7138945643.0
2           ShareIssued        7215608305.0        7215608306.0
3               NetDebt        4761509000.0        4688712000.0
4             TotalDebt       10933010000.0       10802273000.0

  2021-12-31 00:00:00 2020-12-31 00:00:00 2019-12-31 00:00:00 Company  \
0          89176117.0          37997221.0                 NaN   MGLU3
1        7126432188.0        6910323837.0                 NaN   MGLU3
2        7215608305.0        6948321058.0                 NaN   MGLU3
3        4226654000.0           5386000.0                 NaN   MGLU3
4       10247550000.0        4213066000.0                 NaN   MGLU3

  2023-12-31 00:00:00 2022-12-31 00:00:00 2021-12-31 00:00:00  ...  \
0                 0.0                 0.0                 0.0  ...
1         784747373.0         784747373.0         784747373.0  ...
2         784747373.0         784747373.0         784747373.0  ...
3         815794000.0         579880000.0         560650000.0  ...
4        1759247000.0        1204276000.0        1060001000.0  ...

  2021-12-31 00:00:00 2020-12-31 00:00:00 2019-12-31 00:00:00 Company  \
0              2560.0              2560.0                 NaN   GUAR3
1         499197440.0         499197440.0                 NaN   GUAR3
2         499200000.0         499200000.0                 NaN   GUAR3
3        1851092000.0        1119865000.0                 NaN   GUAR3
4        4577189000.0        5089936000.0                 NaN   GUAR3

  2023-12-31 00:00:00 2022-12-31 00:00:00 2021-12-31 00:00:00  \
0           7925654.0           8712180.0           8987126.0
1         675136568.0         674350042.0         579295927.0
2         683062222.0         683062222.0         588283053.0
3         563080000.0         627734000.0                 NaN
4        1670590000.0        1426978000.0         288139000.0

  2020-12-31 00:00:00 2019-12-31 00:00:00 Company
0           9131273.0                 NaN   ALPA4
1         579151779.0                 NaN   ALPA4
2         588283052.0                 NaN   ALPA4
3                 NaN                 NaN   ALPA4
4         546104000.0                 NaN   ALPA4

[5 rows x 32 columns]

## Baixando informações do dre

In [ ]:
def DRE():
    tickers = ['MGLU3.SA','SOMA3.SA', 'LREN3.SA', 'ARZZ3.SA', 'GUAR3.SA', 'ALPA4.SA']

    dfs = []

    # Loop para baixar a Demonstração de Resultados do Exercício de cada empresa
    for ticker in tickers:
        ativo = yf.Ticker(ticker)
        dre = ativo.financials  # Obtém a DRE
        dre = dre.T  # Transpõe as colunas para linhas
        dre['Company'] = ticker.split('.')[0]  # Adiciona o nome da empresa
        dfs.append(dre)

    # Concatenar as Demonstrações de Resultados do Exercício em um único dataframe
    resultado = pd.concat(dfs, axis=0)
    resultado.reset_index(inplace=True, drop=True)

    return resultado  # Retorna o dataframe concatenado

In [24]:
# Chamar a função DRE e imprimir o resultado
DRE()

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,...,Total Revenue,Operating Revenue,Company,Minority Interests,Rent Expense Supplemental,Impairment Of Capital Assets,Rent And Landing Fees,Other Non Operating Income Expenses,Net Income Discontinuous Operations,Amortization
0,11422640.0,0.34,440378000.0,33596000.0,33596000.0,-979104000.0,1242690000.0,26604266000.0,473974000.0,-768716000.0,...,36768149000.0,36768149000.0,MGLU3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-675580.0,0.34,1091858000.0,-1987000.0,-1987000.0,-498975000.0,1163624000.0,26860106000.0,1089871000.0,-73753000.0,...,37299002000.0,37299002000.0,MGLU3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-11810580.0,0.34,1030940000.0,-34737000.0,-34737000.0,590661000.0,816964000.0,26791345000.0,996203000.0,179239000.0,...,35278150000.0,35278150000.0,MGLU3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-961308.0,0.054,1360414000.0,-17802000.0,-17802000.0,391709000.0,702523000.0,21657151000.0,1342612000.0,640089000.0,...,29177113000.0,29177113000.0,MGLU3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1003711280.0,0.34,745985000.0,-2952092000.0,-2952092000.0,-1617129000.0,305017000.0,2322630000.0,-2206107000.0,-2511124000.0,...,5360547000.0,5360547000.0,SOMA3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.0,0.34,705029000.0,0.0,0.0,335188000.0,262037000.0,2110437000.0,705029000.0,442992000.0,...,4870520000.0,4870520000.0,SOMA3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1989340.0,0.34,361237000.0,5851000.0,5851000.0,299790000.0,132237000.0,1173210000.0,367088000.0,234851000.0,...,2791678000.0,2791678000.0,SOMA3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,-26911340.0,0.34,22102000.0,-79151000.0,-79151000.0,-69716000.0,94684000.0,486637000.0,-57049000.0,-151733000.0,...,1243767000.0,1243767000.0,SOMA3,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,SOMA3,-1121000.0,NaN,NaN,NaN,NaN,NaN,NaN
9,-504600460.0,0.34,3819425000.0,-1484119000.0,-1484119000.0,976259000.0,1098363000.0,5427247000.0,2335306000.0,1236943000.0,...,13647849000.0,13647849000.0,LREN3,NaN,433037000.0,140842000.0,433037000.0,NaN,NaN,NaN
10,-68870004.3,0.0669,3997889000.0,-1029447000.0,-1029447000.0,1291704000.0,1041025000.0,5286323000.0,2968442000.0,1927417000.0,...,13271137000.0,13271137000.0,LREN3,NaN,436118000.0,37705000.0,436118000.0,NaN,NaN,NaN
11,-3662347.5,0.0105,2276432000.0,-348795000.0,-348795000.0,633112000.0,916070000.0,4399178000.0,1927637000.0,1011567000.0,...,10571566000.0,10571566000.0,LREN3,NaN,391854000.0,8994000.0,391854000.0,NaN,NaN,NaN
12,-37685703.0,0.087,2648298000.0,-433169000.0,-433169000.0,1096269000.0,791036000.0,3223570000.0,2215129000.0,1424093000.0,...,7537180000.0,7537180000.0,LREN3,NaN,302384000.0,20533000.0,302384000.0,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,LREN3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,18154980.0,0.34,688233000.0,53397000.0,53397000.0,399400000.0,222944000.0,2217707000.0,741630000.0,518686000.0,...,4846768000.0,4846768000.0,ARZZ3,727000.0,NaN,NaN,NaN,NaN,NaN,NaN
15,6359152.0,0.106,641281000.0,59992000.0,59992000.0,424709000.0,166030000.0,1950092000.0,701273000.0,535243000.0,...,4233726000.0,4233726000.0,ARZZ3,2171000.0,NaN,NaN,NaN,NaN,NaN,NaN
16,2289039.7,0.1489,535203000.0,15373000.0,15373000.0,345234000.0,105748000.0,1385147000.0,550576000.0,444828000.0,...,2923827000.0,2923827000.0,ARZZ3,1514000.0,NaN,NaN,NaN,NaN,NaN,NaN
17,-1004881.5,0.1095,168328000.0,-9177000.0,-9177000.0,48584000.0,81103000.0,835779000.0,159151000.0,78048000.0,...,1590992000.0,1590992000.0,ARZZ3,NaN,13077000.0,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,ARZZ3,NaN,25088000.0,NaN,NaN,NaN,NaN,NaN
19,88241220.0,0.34,1011675000.0,259533000.0,259533000.0,-34260000.0,624362000.0,3653993000.0,1271208000.0,646846000.0,...,8795386000.0,8795386000.0,GUAR3,NaN,339605000.0,NaN,339605000.0,324000.0,NaN,NaN
20,89150040.0,0.34,916622000.0,262206000.0,262206000.0,51980000.0,599406000.0,3537534000.0,1178828000.0,579422000.0,...,8458663000.0,8458663000.0,GUAR3,NaN,292815000.0,NaN,292815000.0,521000.0,NaN,NaN
21,92508220.0,0.34,810597000.0,272083000.0,272083000.0,453128000.0,549974000.0,3333248000.0,1082680000.0,532706000.0,...,7221181000.0,7221181000.0,GUAR3,NaN,75895000.0,NaN,75895000.0,235000.0,NaN,NaN
22,0.0,0.34,602936000.0,133625000.0,133625000.0,-27154000.0,524154000.0,3084658000.0,602936000.0,78782000.0,...,6245372000.0,6245372000.0,GUAR3,NaN,40149000.0,NaN,40149000.0,281000.0,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,GUAR3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,-150338400.0,0.1,-194241000.0,-1503384000.0,-1503384000.0,-1866620000.0,211250000.0,2237931000.0,-1697625000.0,-1908875000.0,...,3734146000.0,3734146000.0,ALPA4,864000.0,16190000.0,NaN,16190000.0,NaN,0.0,70830000.0
25,-69783360.0,0.32,704656000.0,-218073000.0,-218073000.0,196664000.0,163509000.0,2254163000.0,486583000.0,323074000.0,...,4181866000.0,4181866000.0,ALPA4,12931000.0,13858000.0,NaN,13858000.0,NaN,-75202000.0,45950000.0
26,778120.0,0.07,852734000.0,11116000.0,11116000.0,659655000.0,130768000.0,1991914000.0,863850000.0,733082000.0,...,3948561000.0,3948561000.0,ALPA4,-2955000.0,13695000.0,NaN,13695000.0,NaN,29953000.0,24307000.0
27,-70490160.0,0.34,688975000.0,-207324000.0,-207324000.0,250117000.0,129117000.0,1531908000.0,481651000.0,352534000.0,...,3143292000.0,3143292000.0,ALPA4,13309000.0,9348000.0,NaN,9348000.0,1080000.0,-109922000.0,19136000.0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,ALPA4,NaN,NaN,NaN,NaN,889000.0,NaN,NaN